<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- 자주 사용하는 타입의 별칭 -->	
	<typeAliases>
		<typeAlias type="com.test.spring.dto.HeartDTO" alias="heartdto"/>
		<typeAlias type="com.test.spring.dto.MemberDTO" alias="memberdto"/>
		<typeAlias type="com.test.spring.dto.MemberOrderDTO" alias="memberorderdto"/>
		<typeAlias type="com.test.spring.dto.MenuDTO" alias="menudto"/>
		<typeAlias type="com.test.spring.dto.MenuSizePriceDTO" alias="menusizepricedto"/>
		<typeAlias type="com.test.spring.dto.OrderDTO" alias="orderdto"/>
		<typeAlias type="com.test.spring.dto.OptionDTO" alias="optiondto"/>
		<typeAlias type="com.test.spring.dto.OrderOptionDTO" alias="orderoptiondto"/>
 
	</typeAliases>
	
	
	
</configuration>
